/*GENERAL STYLE*/
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
table,
th,
td {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header-container {
  display: flex;
  height: 20vmin;
  align-items: center;
  justify-content: space-between;
  background-color: #f7e9de;
  text-align: center;
}

#header-logo {
  width: 40vmin;
}

#header-logo img {
  max-width: 100%;
  height: auto;
  padding: 1vmin;
}

#header-links {
  padding-top: 10vmin;
  padding-right: 2vmin;
}

#header-links a {
  text-decoration: none;
  font-weight: 900;
  color: #4f364b;
  margin-right: 2vmin;
}

#header-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2vmin;
}

/* TYPOGRAPHY */
h1 {
  font-size: 5vmin;
  font-weight: 700;
}

h2,
h3 {
  font-weight: 900;
  color: #4f364b;
}

h2 {
  font-size: 3vmin;
}

h3 {
  font-size: 2vmin;
  color: #cabad8;
}

p,
ul,
ol {
  font-size: 2vmin;
}

/* INTRO */
.intro-container {
  position: relative;
  text-align: center;
}

.intro-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(155, 166, 128, 0.8);
  border-radius: 5%;
  color: #f7e9de;
  padding: 1vmin;
  width: 70%;
}

/* BLOGS */
.recent-container,
.blog-posts-container {
  display: flex;
  background-color: #87a680;
}

.blog-posts-container {
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
  padding-bottom: 5vmin;
  flex-wrap: wrap;
}

.blog-link-1,
.blog-link-2,
.blog-link-3 {
  text-align: center;
  border-radius: 50%;
  height: 30vmin;
  width: 30vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vmin;
}

#recent-blog-header {
  color: #f7e9de;
  margin-left: 5vmin;
}

.blog-link-1 {
  background-color: #cabad8;
  color: #4f364b;
}

.blog-link-2 {
  background-color: #4f364b;
  color: #f7e9de;
}

.blog-link-3 {
  background-color: #f7e9de;
  color: #4f364b;
}

/* CODE */
.codeblock {
  font-size: 2vmin;
  background-color: #4f364b;
  color: #ece9e7;
  border: solid 1px #4f364b;
  padding: 2vmin;
  display: inline-block;
}

/* TABLES */
table,
th,
td {
  border: 1px solid #4f364b;
  padding: 2vmin;
  margin: 2vmin;
  font-size: 2vmin;
}

#wall,
#activities {
  font-weight: 700;
  font-size: 2vmin;
}

/* MEDIA QUERIES */

/* Widescreen */
@media only screen and (min-width: 920px) {
  #intro-image img {
    width: 300vmin;
  }
}

/* Tablets */
@media only screen and (max-width: 919px) {
  #intro-container,
  #header-links {
    flex-wrap: wrap;
  }

  #header-links a {
    margin-right: 1vmin;
  }
}

/* Phones */
@media only screen and (max-width: 400px) {
  #header-links {
    padding-top: 0;
  }

  .blog-posts-container {
    flex-wrap: wrap;
  }
}
