/*GENERAL STYLE*/
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
table,
th,
td {
  font-family: 'Poppins', serif;
  font-weight: 400;
  font-style: normal;
  color: #201e4b;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header-container {
  display: flex;
  height: 20vmin;
  align-items: center;
  justify-content: space-between;
  background-color: #f7e9de;
  text-align: center;
}

#header-logo {
  width: 50vmin;
}

#header-logo img {
  max-width: 100%;
  height: auto;
}

#header-title {
  width: 150vmin;
}

#header-links {
  width: 100vmin;
  padding-top: 10vmin;
}

#header-links a {
  text-decoration: none;
  font-weight: 900;
  color: #201e4b;
  margin-right: 2vmin;
}

#header-links a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2vmin;
}

/* INTRO */
.intro-container {
  display: flex;
  justify-content: space-around;
  background-color: #d4a3e2;
}

#intro-image {
  padding: 5vmin;
}

#intro-image img {
  border-radius: 20vmin;
  width: 300vmin;
}

#intro-body {
  padding: 5vmin 10vmin;
}

/* TYPOGRAPHY */
h1 {
  font-size: 5vmin;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-variation-settings: 'SOFT' 0, 'WONK' 0;
  color: #201e4b;
}

h2,
h3 {
  font-weight: 900;
  color: #201e4b;
}

h2 {
  font-size: 3vmin;
}

h3 {
  font-size: 2vmin;
  color: #d4a3e2;
}

p,
ul,
ol {
  font-size: 2vmin;
}

/* BLOGS */
.recent-container,
.blog-posts-container {
  display: flex;
  background-color: #ece9e7;
}

.blog-posts-container {
  justify-content: space-around;
  align-items: center;
  font-size: 3vmin;
  padding-bottom: 5vmin;
  flex-wrap: wrap;
}

.blog-link-1,
.blog-link-2,
.blog-link-3 {
  text-align: center;
  border-radius: 50%;
  height: 30vmin;
  width: 30vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vmin;
}

.blog-link-1 {
  background-color: #c6e7a3;
  color: #201e4b;
}

.blog-link-2 {
  background-color: #9166f1;
  color: #ece9e7;
}

.blog-link-3 {
  background-color: #201e4b;
  color: #d4a3e2;
}

/* CODE */
.codeblock {
  font-size: 2vmin;
  background-color: #201e4b;
  color: #ece9e7;
  border: solid 1px #201e4b;
  padding: 2vmin;
  display: inline-block;
}

/* TABLES */
table,
th,
td {
  border: 1px solid #201e4b;
  padding: 2vmin;
  margin: 2vmin;
  font-size: 2vmin;
}

#wall,
#activities {
  font-weight: 700;
  font-size: 2vmin;
}

/* MEDIA QUERIES */

/* Widescreen */
@media only screen and (min-width: 920px) {
  #intro-image img {
    width: 300vmin;
  }
}

/* Tablets */
@media only screen and (max-width: 919px) {
  #intro-container,
  #header-links {
    flex-wrap: wrap;
  }

  #header-links a {
    margin-right: 1vmin;
  }
}

/* Phones */
@media only screen and (max-width: 400px) {
  #header-links {
    padding-top: 0;
  }

  .blog-posts-container {
    flex-wrap: wrap;
  }
}
